<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "DREAMFOOD LOGO.jpg", class: "logo-image" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <ul class="navbar-nav me-auto">

          <li class="nav-item <%= 'active-page' if current_page?(about_path) %>">
              <a class="nav-link" href="<%= about_path %>"><strong>ABOUT</strong></a>
          </li>
          <li class="nav-item <%= 'active-page' if current_page?(gallery_path) %>">
              <a class="nav-link" href="<%= gallery_path %>"><strong>GALLERY</strong></a>
          </li>
          <li class="nav-item <%= 'active-page' if current_page?(contact_path) %>">
              <a class="nav-link" href="<%= contact_path %>"><strong>CONTACT</strong></a>
          </li>
          <li class="nav-item <%= 'active-page' if current_page?(donations_path) %>">
              <a class="nav-link" href="<%= donations_path %>"><strong>WE CARE</strong></a>
          </li>
          <!-- Other navbar items -->
      </ul>
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <a class="nav-link dropdown-toggle avatar" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag(current_user.avatar.attached? ? current_user.avatar.variant(resize: "40x40") : "account.png", class: "avatar") %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item text-success", data: { turbo_method: :delete } %>
            </div>
          <% else %>
            <a class="nav-link dropdown-toggle avatar" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("account.png", class: "avatar") %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
