<!-- app/views/pages/gallery.html.erb -->
<h1>OUR WORK</h1>

<%= puts current_user.inspect %>


<div class="content-cards">
  <% @contents.each do |content| %>
    <% content.media.each do |file| %>
      <% if file.image? %>
        <!-- Display image -->
        <div class="content-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= file.service_url %>);">
          <!-- Additional content details here -->
        </div>
      <% elsif file.video? %>
        <!-- Display video -->
        <div class="content-card">
          <%= cl_video_tag file.service_url, controls: true %>
          <!-- Additional content details here -->
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if current_user&.admin? %>
  <!-- Show admin options here, e.g., add/delete buttons -->
  <div class="admin-options">
    <%= simple_form_for(@content) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :media, as: :file %>
        </div>
      </div>
    <%= link_to "Add Media", class: 'add-media-link', data: { toggle: 'modal', target: '#addMediaModal' } %>
      <!-- Display delete buttons for each media -->
      <% @contents.each do |content| %>
        <%= link_to "Delete", media_path(content), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>
<% end %>

<footer class="footer">
  <div class="footer-links">
    <footer><%= render 'shared/footer' %> </footer>
  </div>
</footer>
